* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  all: unset;
  transition: all 0.2s;
}

body {
  display: grid;
  grid-template:
    "info-bar" 0.5fr
    "cell-grid" 8.3fr
    "control-bar" 0.7fr / 1fr;
  grid-auto-flow: column;
  gap: 1% 0;
  font-family: "Baloo Da", sans-serif;
  height: 100%;
  color: rgba(43, 43, 43, 0.94);
  background: hsla(0, 0%, 100%, 0.872);
  padding: 1vmin;
  font-size: 5vmin;
}

/* info bar */
#info-bar {
  grid-area: info-bar;
  display: grid;
  grid: 1fr / 1fr 1fr;
  grid-auto-flow: row;
  align-items: center;
}

#alive {
  justify-self: start;
}
#dead {
  justify-self: end;
}

/* cell grid */
#cell-grid {
  grid-area: cell-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.cell {
  box-shadow: inset 2px 2px 2px white, 0px 1px 3px rgba(116, 115, 115, 0.5);
}

/* control bar */
#control-bar {
  grid-area: control-bar;
  display: grid;
  grid: 1fr / 1fr 1fr;
  grid-auto-flow: row;
  align-items: center;
  justify-items: start;
}

#control-bar img {
  /* shift images to the bottom of stack so that click events on buttons fire */
  position: relative;
  z-index: -100;
  padding-top: 1.5vh;
  padding-right: 1vw;
  width: 6vmin;
}

.active-button {
  cursor: pointer;
  filter: invert(0.5);
}

.control-button:focus {
  outline: 0;
}

#total {
  justify-self: end;
}

#row,
#col {
  padding-left: 0.3vmin;
  padding-right: 0.3vmin;
}

/* pop up window */
.popup {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(26, 25, 25, 0.8);
  color: rgba(205, 205, 205, 0.897);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* alert message box */
#alert-box {
  display: none;
  grid: 1fr;
  grid-template-areas: "message";
  text-align: center;
  padding: 2vw;
  font-size: 3vw;
}

/* modal window */
#modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

#modal-content a {
  color: inherit;
  text-decoration: underline;
}

/* do not apply these hover rules on touchscreen devices */
@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
  .control-button:hover {
    filter: invert(0.5);
  }
  #row:hover,
  #col:hover {
    color: hsla(0, 0%, 100%, 0.872);
    background-color: rgba(43, 43, 43, 0.94);
  }
  #alive:hover {
    color: rgb(69, 131, 87);
  }
  #dead:hover {
    color: rgb(138, 73, 66);
  }
  .cell:hover {
    cursor: pointer;
  }
}

/* Display elements differently based on type of devices */
@media (hover: hover) {
  .forMobile {
    display: none;
  }
}

@media (hover: none) {
  .forDesktop {
    display: none;
  }
}
